.draggable{
	cursor:pointer;
	font-weight:bold;
	/*display:inline-block;*/
	/*background-color:#FFF;*/
}
#anverso{
	background: url("../imagenes/anverso.jpg") no-repeat;
}
#reverso{
	background: url("../imagenes/reverso.jpg") no-repeat;
}
#reverso,#anverso{
	border:1px solid #000;
	width:500px;
}