/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/
body{
	background-color: #ededed;
	background-image:url(../imagenes/diagonal.png);
}


/**************************************/
/*              HEADER                */
/**************************************/
#cabecera{
    background-color: #676aaf;
    height: 120px;
    width: 100%;
    margin: 0px 0px 0px 0px;
}
#cabecera hr{
    background-color: #fff;
    color: #001b3c;
    height: 3px;
}
#cabecera h1{
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    font-family: monaco, "Lucida Console", courier, monospace;
}
#titulou{
    height: 119px;
    width: 100%;
    background-color: #676aaf;
    background-image: url(../imagenes/upea.png);
    background-repeat: no-repeat;
    background-position:  right;
    border: 1px solid transparent;
    z-index: 100;
}
#logos{
    height: 100px;
    width: 28%;
}
#upea{
    background-image: url(../imagenes/upeaex.png);
    background-repeat: no-repeat;
    background-position: 0% bottom;
    background-position-x: 0px;
    width: 50%;
    height: 470px;
    float: left;
}
#login{
    width: 48%;
    height: 450px;
    
    float: right;
    vertical-align: bottom;
}


label{
	float: left;
	width: 120px;
}


/**************************************/
/*             NAVIGATION             */
/**************************************/

#vista_nula{
    height: 570px;    
}

/**************************************/
/*            MAIN CONTENT            */
/**************************************/



/**************************************/
/*               FOOTER               */
/**************************************/
#pie{
    background-color: #f4d673;
    color:#000;
    font-family: monaco, "Lucida Console", courier, monospace;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
#pie hr{
    background-color: #cd474b;
    height: 3px;
}
